<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <h1>📝 My Blog</h1>
  <a href="/new" class="btn btn-primary">Create New Post</a>
</header>
<main>